/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%; /* Ensures navbar spans the entire width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; 
  background-color: transparent;
  color: #f3eeee;
  z-index: 1000;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(1000px);
}


/* Style for the app name */
.app-name {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

/* Style for the admin button */
.admin-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Style for the icon in the admin button */
.admin-button svg {
  margin-right: 5px;
}

/* App styles */
.App {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fefefe;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 80px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 3rem; /* Adjusted margin-bottom */
}

.search-bar {
  flex: 1;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  box-sizing: border-box;
}

.search-button {
  margin-left: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #509be6;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s;
}

.users-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

body {
  background-image: url('https://i.ytimg.com/vi/Okb1TjsZlm0/maxresdefault.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

